* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 1px;
}

/* Header/Blog Title */
.header {
  margin: 16px, 0px, 0px, 0px;
  padding: 1px;
  text-align: left;
  background-color: white;
  text-align: left;
}

.header h1 {
  color: #555555
  margin: 0px 0px;
  padding: 2px 40px;
  /* height: 60px; */
  /* font-size: 30px; */
  font-weight: 900;
  /* font-style: oblique; */
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: rgb(122, 255, 239);
  border: 5px solid #fff;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Reset ==================================== */
.wraper {
  width: 100% padding:inherit;
}

body, ul {
  padding: 1px;
  background-color: none;
  background-image: url("img/bg2.png");
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: none;
}

.sq {
  padding: 1px
}

.sq-item {
  float: left;
  width: 25%;
  padding-top: 25%;
  position: relative;
}

.sq-item-anchor {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0.6rem;
  padding: 0.5rem;
  font-size: 0.5rem;
  overflow: hidden;
  font-family: 'Roboto Slab', serif;
  border-radius: 10px;
  border: 1px solid none;
  background-color: none;
}

.sq-item-anchor-cover {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.pic {
  padding: 1px;
  border: 1px solid white;
  width: 100%;
  height: auto;
}
.pic1 {
  padding: 1px;
  border: 1px solid black;
  width: 100%;
  height: auto;
}


/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  text-decoration-color: white;
  background: grey;
  margin-top: 10px;
}
